$primary: #5927e5;
$primaryDark: #3f29c5;
$dark: #1e1650;
$secondary: #ccf381;
$accent: #f04290;
// $accent:crimson;

$light: rgba(255, 255, 255, 1);
$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

// Hide scrollbars for all elements
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

// Ensure body and html take full viewport height
html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
